<ion-content>
  <div class="full-height center">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card class="ion-padding">
            <ion-card-header>
              <ion-card-title class="ion-text-center title">Welcome!</ion-card-title
              >
            </ion-card-header>
            <ion-card-content>
              <div class="ion-margin-vertical">
                <ion-button
                  expand="block"
                  shape="round"
                  size="large"
                  fill="outline"
                  class="ion-margin-vertical"
                  routerLink="/login"
                  >Login</ion-button
                >
                <ion-button
                  expand="block"
                  shape="round"
                  size="large"
                  fill="outline"
                  class="ion-margin-vertical"
                  routerLink="/register"
                  >Register</ion-button
                >
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
